<!DOCTYPE html>
<html>
<head>
    <title>
        startScreen
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css"/>
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script type="text/javascript">
        $(document).bind("mobileinit", function () {
            if (navigator.userAgent.indexOf("Android") != -1) {
                $.mobile.defaultPageTransition = 'none';
                $.mobile.defaultDialogTransition = 'none';
            }
        });
    </script>
    <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
</head>
<body>
<script language="JavaScript" type="text/javascript">
    if (navigator.userAgent.match(/iP/i)) {
        $(window).bind('orientationchange',function (event) {
            $('meta[name="viewport"]').attr('content', 'initial-scale=1.0,maximum-scale=1.0, ' + ((window.orientation == 90 || window.orientation == -90 || window.orientation == 270) ? "height=device-width,width=device-height" : "height=device-height,width=device-width"));
        }).trigger('orientationchange');
    }
</script>
<div data-role="page" style="min-height:480px;" dsid="startScreen" id="j_22" class="type-interior"
     data-theme="a" data-add-back-btn="false" data-back-btn-text="Back">
    <!-- mobileheader1 -->
    <div data-role="header" data-position="fixed" data-theme="a" name="mobileheader1"
         id="j_24" class=' mobileheader2 '>
        <h1 dsid="mobileheader1">
            Playback
        </h1>
    </div>
    <!-- mobilecontainer1 -->

    <div data-role="content" id="j_25" name="mobilecontainer1" class=" mobilecontainer2"
         dsid="mobilecontainer1" data-theme="">
        <link href="{{ STATIC_URL }}startScreen.css" rel="stylesheet" type="text/css"/>
        {% comment %}<script type="text/javascript" src="{{ STATIC_URL }}startScreen.js">
        </script>{% endcomment %}
        <!-- FunnyVideo -->
        <object width="425" height="349">
            <param id="video" name="movie"
                   value="http://www.youtube.com/v/{{ video }}?version=3&autoplay=1&amp;hl=en_US&amp;rel=0"/>
            <param name="allowFullScreen" value="true"/>
            <param name="allowscriptaccess" value="always"/>
            <embed id="video_embedded"
                   src="http://www.youtube.com/v/{{ video }}?version=3&autoplay=1&amp;hl=en_US&amp;rel=0"
                   type="application/x-shockwave-flash" width="425" height="349" allowscriptaccess="always"
                   allowfullscreen="true"></embed>
        </object>
        <!-- FeedbackDisplay -->
        <div name="FeedbackDisplay" dsid="FeedbackDisplay" id="j_27" class=" mobilepanel1">
            <div id="container"></div>
        </div>
    </div>
    <!-- mobilefooter1 -->
    <div data-role="footer" data-position="fixed" class=" mobilefooter2" name="mobilefooter1"
         dsid="mobilefooter1" id="j_29" data-theme="a">
    </div>
</div>
<script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
<script type='text/javascript' src="http://d3lp1msu2r81bxs.cloudfront.net/kjs/js/lib/kinetic-v4.5.1.min.js"></script>
<script>
    var data = new Firebase('https://rtr.firebaseIO.com/tuner/');
    var t = 0;
    setInterval(function(){t+=1;data.push({name:"time",text:t*1000})}, 1000);

    var stage = new Kinetic.Stage({
        container: 'container',
        width: 425,
        height: 349
    });

    var layer = new Kinetic.Layer();

    var rect = new Kinetic.Rect({
        x: 106.25,
        y: 87.5,
        width: 212.5,
        height: 175,
        fill: 'green',
        stroke: 'black',
        strokeWidth: 4
    });

    var rect1 = new Kinetic.Rect({
        x: 318.75,
        y: 87.5,
        width: 212.5,
        height: 175,
        fill: 'green',
        stroke: 'black',
        strokeWidth: 4
    });

    var rect2 = new Kinetic.Rect({
        x: 106.25,
        y: 261.5,
        width: 212.5,
        height: 175,
        fill: 'green',
        stroke: 'black',
        strokeWidth: 4
    });

    var rect3 = new Kinetic.Rect({
        x: 318.75,
        y: 261.5,
        width: 212.5,
        height: 175,
        fill: 'green',
        stroke: 'black',
        strokeWidth: 4
    });

    // add the shape to the layer
    layer.add(rect);
    layer.add(rect1);
    layer.add(rect2);
    layer.add(rect3);

    // add the layer to the stage
    stage.add(layer);
</script>
</body>
</html>